.body {
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.langue {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.logo img {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.formulaire {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire form {
    width: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulaire input {
    padding: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(139, 137, 137);
    margin-bottom: 10px;
    border-radius: 10px;
}

.formulaire button {
    width: 100%;
    height: 45px;
    background-color: #1877F2;
    color: #fff;
    border: 0px solid #1877F2;
    border-radius: 20px;
    margin-bottom: 20px;
}

.formulaire a {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: rgb(101, 100, 100);
    text-align: center;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.footer button {
    width: 90%;
    max-width: 200px;
    height: 45px;
    background-color: #fff;
    color: #1877F2;
    border: 2px solid #1877F2;
    border-radius: 20px;
    margin-bottom: 20px;
}

.footer img {
    width: 80px;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .logo {
        margin-top: 20%;
    }

    .logo img {
        width: 60%;
    }

    .formulaire {
        margin-top: 10%;
    }

    .formulaire form {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-top: 30%;
    }

    .logo img {
        width: 70%;
    }

    .formulaire {
        margin-top: 5%;
    }

    .formulaire form {
        width: 95%;
    }

    .formulaire input {
        padding: 8px;
        height: 30px;
    }

    .formulaire button {
        height: 40px;
    }

    .footer button {
        height: 40px;
    }
}
